<footer>
    <div class="social-icons">
        <a href="https://www.instagram.com/ktvdi.id?igsh=YWNteGY0Yms0NGNp" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/share/g/18CKU4FayC/?mibextid=A7sQZp" class="social-icon facebook"><i class="fab fa-facebook"></i></a>
        <a href="https://youtube.com/@ktvdi_id?si=NU-Ig6WQORKGvt_E" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
        <a href="https://chat.whatsapp.com/DwqpvihDPRrKFX44bPVDPb" class="social-icon whatsapp"><i class="fab fa-whatsapp"></i></a>
        <a href="https://t.me/SiaranDigitalIndonesia" class="social-icon telegram"><i class="fab fa-telegram-plane"></i></a>
    </div>
    <p>&copy; 2025 Komunitas TV Digital Indonesia. All rights reserved.</p>
</footer>
