<header>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>

    <div class="logo">
        <img src="static/images/ktvdi.png" alt="Logo KTVDI">
    </div>

    <nav>
      <ul>
        <li><a href="/">Beranda</a></li>
        <li><a href="#">Daftar Siaran</a></li>
        <li><a href="#">Tentang</a></li>
        <li><a href="/login" class="login">Login</a></li>
        <li><a href="/register" class="register">Daftar</a></li>
      </ul>
    </nav>
  </header>
