<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Komunitas TV Digital Indonesia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <!-- Header -->
  <div id="header"></div>

  <div class="container">
    <h1>Lupa Password</h1>
    <form method="POST">
      <input type="email" name="identifier" placeholder="Masukkan email Anda" required>
      <button type="submit">Kirim Kode OTP</button>
    </form>
    <a href="/login" class="forgot">← Kembali ke Login</a>
    <div class="flash-message-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, msg in messages %}
            <p class="{{ category }}">{{ msg }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
</body>
</html>
